.arrivals {
    padding-top: 120px;
    padding-bottom: 145px;
}

.arrivals__header {
    margin-bottom: 100px;
}

.arrivals__cards {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

@media (max-width: 750px) {
    .arrivals__cards {
        flex-direction: column;
        text-align: center;
    }
}
