.header {
    padding: 46px 0 56px;
}

.header__row {
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    column-gap: 13px;
}

.header__logo span {
    font-weight: 900;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header__nav {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    z-index: 1100;
}

.header__nav ul {
    display: flex;
    column-gap: 65px;
    align-items: center;
}

.header__nav a {
    color: var(--textColor);
}

.header__nav li {
    transition: transform 0.3s ease;
}

.header__nav li:hover {
    transform: scale(1.2);
}

.header__navBtn,
a.header__navBtn {
    padding: 13px 22px 17px;
    border-radius: 7px;
    background-color: #000;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: -0.03em;
    color: #fff;
}

.header__nav-btn {
    display: none;
}

@media (max-width: 1330px) {
    .header__nav ul {
        column-gap: 25px;
        font-size: 20px;
    }

    .header__logo span {
        font-size: 32px;
    }

    .header__navBtn,
    a.header__navBtn {
        font-size: 20px;
    }

    .header__logo span {
        font-size: 24px;
    }
}
@media (max-width: 1024px) {
    .header__nav {
        transform: translateX(-100%);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 1100;
        transition: transform 0.6s linear;
    }

    .header__nav.active {
        transform: translateX(0);
    }

    .header__nav ul {
        flex-direction: column;
        gap: 20px;
    }

    .header__nav a {
        font-size: 24px;
        color: #fff;
    }

    .header__nav-btn {
        display: block;
        width: 30px;
        height: 30px;
        background: center no-repeat;
        background-size: 30px;
        cursor: pointer;
        z-index: 1200;
        transition:
            background 0.5s ease,
            transform 0.5s ease;
    }

    .header__nav-btn.active {
        background: center no-repeat;
        background-size: 30px;
        transform: rotate(180deg);
    }

    .header__navBtn.active {
        background-color: #e0c340;
        color: #fff;
        border-radius: 7px;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1099;
        opacity: 0;
        visibility: hidden;
        transition:
            opacity 0.3s ease,
            visibility 0.3s ease;
    }

    .overlay.active {
        opacity: 1;
        visibility: visible;
    }
}
